#JUCE stuff 
fmSynth/Builds
fmSynth/JuceLibraryCode
fmSynth/UnitTests/Builds
fmSynth/UnitTests/JuceLibraryCode
*.DS_STORE

#Cmake stuff
fmSynth/build
fmSynth/CMakeLists.txt #for now??
fmSynth/UnitTests/build
fmSynth/UnitTests/CMakeLists.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
fmSynth/CMakeLists.txt
test.filtergraph
